@page "/ParentComponent"


<h1 class="text-danger">Parent Child Component</h1>

<CascadingValue Value="@MessageForGrandChild" Name="MessagefromGrandparent">

    <CascadingValue Value="@LuckyNumberForGrandChild" Name="Numberfromgrandparent">
        <ChildComponent @ref="ChildComp" OnClickBtnMethod="ShowMessage" Title="This title is passed as parameter from Parent Component">
        
    </ChildComponent>
    </CascadingValue>
   
</CascadingValue>
<AnotherChildComponent></AnotherChildComponent>
 
@*
<ChildComponent Title="This is Second Child Component">
    
</ChildComponent>*@


<p><b>@messageText</b></p>

<div class="row">
    <button class="btn btn-success" @onclick="(()=>ChildComp.ShowToastrSuccess())">Show Alert</button>
</div>

@code {

    private ChildComponent ChildComp { get; set; }
    //  public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    //{
    //    {"required", "required" },
    //    {"placeholder", "Initial text from Parent" },
    //    {"maxlength", 5 },
    //};
    public string MessageForGrandChild = "This is the message from the grand parent";
    
    public string LuckyNumberForGrandChild = "7";
    private string messageText = "";
    
    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent!";
    }
   

}
