@page "/HotelRoom"

<diV class="row mt-4">

    <div class="col-8">
        
        <h4 class="card-title text-info">Hotel Room's</h4>
        
    </diV>
      <div class="col-3 offset-1">
        
        <NavLink href="HotelRoom/Create" class="btn btn-info form-control">Add New Room</NavLink>
        
    </diV>
        
</diV>

@code {

}
