@inject IJSRuntime JSRuntime
<div>

    <div class="alert alert-info">@Title  </div>
        <div class="alert alert-success">
        @if (@ChildContent == null)
        {
            <span>Hello there from Empty Fragment</span>
        }
        else
        {
            @ChildContent
        }
            
        </div>
    <button class="btn btn-danger" @onclick="OnClickBtnMethod">Button to be Clicked!</button>

    <GrandChildComponent></GrandChildComponent>
</div>

@code {
    [Parameter]
    public string Title { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }


    [Parameter]
    
    public EventCallback <MouseEventArgs> OnClickBtnMethod { get; set; }

//    [Parameter]

//    public string MessageFromGrandChild { get; set; }

    [CascadingParameter]
    public string MessageForGrandChild { get; set; }

    public async Task ShowToastrSuccess()
    {
        await JSRuntime.ToastrSuccess("Woohoo success is on its way");
    }
}
