@using Model

<div class="bg-light border p-2 col-5 offset-1" @onclick="(args)=> RoomSelectedCounterChanged(args,Amenities.Name)">

    <h4 class="text-secondary">Amenities -@Amenities.ID  </h4>
    @Amenities.Name <br />
    @Amenities.Description <br />
    
 @*   <EditDeleteButton isAdmin="false">

    </EditDeleteButton>*@
</div>

@code {
    [Parameter]
    
    public BlazorAmenities Amenities { get; set; }


    [Parameter]

    public EventCallback<string> OnAmenitySelection { get; set; }

    
    public async Task RoomSelectedCounterChanged(MouseEventArgs e, string amenityName)
    {
        await OnAmenitySelection.InvokeAsync(amenityName);
    }
}
